spring:
  application:
    name: querydsl-practice
  
  # MySQL Database Configuration
  datasource:
    url: jdbc:mysql://localhost:33306/querydsl_practice?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: admin1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  # JPA/Hibernate Configuration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    database-platform: org.hibernate.dialect.MySQLDialect

logging.level:
  org.hibernate.SQL: debug
